<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Elitebooks</title>
  </head>
  <body>
    <div class="nav">
      <h1>Asset Inventory</h1>
      <div class="links">
        <a href="laptops.html" id="current">Laptops</a>
        <a href="monitors.html">Monitors</a>
        <a href="docks.html">Docks</a>
      </div>
    </div>
    <div class="menu-bar">
      <button id="new-button">New</button>
      <input id="search-input" type="text" placeholder="Search..." />
    </div>

    <div class="asset-grid-wrapper">
      <div class="asset-list-grid" id="asset-grid"></div>
    </div>

    <div id="newEntry" class="modal">
      <div class="modal-content">
        <h2>New Laptop</h2>
        <div class="inline">
          <input
            id="pcname"
            class="modal-input"
            type="text"
            placeholder="Computer Name..."
          />
          <input class="modal-input" type="text" placeholder="Asset Tag..." />
          <input class="modal-input" type="text" placeholder="Owner Name..." />
          <select name="Model" id="modal-select">
            <option value="Hp840">HP 840</option>
            <option value="HpZBook15">HP ZBook 15</option>
            <option value="HpZBook17">HP ZBook 17</option>
          </select>
          <select name="Generation" id="modal-select">
            <option value="G5">G5</option>
            <option value="G6">G6</option>
          </select>
        </div>
        <textarea
          name="notes"
          type="text"
          id="modal-textarea"
          cols="80"
          rows="4"
          placeholder="Notes..."
        ></textarea>
        <div class="inline">
          <button id="add-button" class="no-margin">Add</button>
          <button id="cancel-button" class="no-margin">Cancel</button>
        </div>
      </div>
    </div>

    <script src="js/laptops.js"></script>
  </body>
</html>
