@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #111111;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 25px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.inline-i {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: auto;
  padding: 10px 0px;
  padding-left: 20px;
}

.nav h1 {
  color: #b9b9b9;
}

.links {
  display: flex;
}

.links a {
  padding: 10px 20px;
  color: #b9b9b9;
  transition: color 0.25s ease-in-out;
}

#current {
  color: #0061bd;
}

button {
  cursor: pointer;
  padding: 5px 30px;
  margin-right: 10px;
  background-color: #0061bd;
  border: none;
  color: #eeeeee;
  transition: all 0.25s ease-in-out;
}

button:hover {
  background-color: #eeeeee;
  color: #1d1d1d;
}

button:focus {
  outline: none;
  border: none;
}

#search-input {
  padding: 5px 10px;
  margin: 0px 10px;
  width: 600px;
  background-color: #111111;
  border: 1px solid #525252;
  color: #cecece;
}

.modal-input {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 100%;
  background-color: #222222;
  border: 1px solid #525252;
  color: #cecece;
  font-family: "Oswald", sans-serif;
}

input:focus {
  outline: none;
  border: 1px solid #0061bd;
}

#search-select {
  padding: 5px 10px;
  margin: 0px 10px;
  border: 1px solid #525252;
  background-color: #111111;
  color: #cecece;
}

#search-select:focus {
  outline: none;
  border: 1px solid #0061bd;
}

#modal-select {
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: 1px solid #525252;
  background-color: #222222;
  color: #cecece;
}

#modal-select:focus {
  outline: none;
}

textarea {
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #222222;
  border: 1px solid #525252;
  color: #cecece;
  font-family: "Oswald", sans-serif;
}

textarea:focus {
  outline: none;
}

.main-wrap {
  max-width: 1280px;
  min-width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  margin: 25px auto;
  background-color: #144d83;
  padding: 30px;
  transition: all 0.15s ease-in-out;
}

.card h1 {
  color: #d3d3d3;
}

.card img {
  width: 175px;
  height: 100px;
}

.card a {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.01);
}

.menu-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
}

.asset-grid-wrapper {
  max-width: 1280px;
  margin-top: 50px;
  margin: 50px auto;
}

.asset-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 20px;
  margin: 0px 20px;
}

.asset-card {
  max-width: 450px;
  width: 100%;
  height: 175px;
  background-color: #354a86;
  padding: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  max-width: 600px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  margin: 10% auto;
  padding: 20px;
  width: 40%;
}

.modal-content h2 {
  padding-bottom: 28px;
  color: #b9b9b9;
}
